<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Awesome notes</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <main>
        <article>
            {% if error: %}
                <section class="error">
                    {{ error }}
                </section>
            {% endif %}
            <section class="login">
                <h1>Enter your login</h1>
                <form action="/login" method="POST">
                    <label><input type="text" name="login"></label>
                    <button>Log In</button>
                </form>
            </section>
        </article>
    </main>
</body>
</html>