@font-face {
    font-family: Roboto;
    src: url("Roboto.ttf");
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, Verdana, sans-serif;
    background-color: beige;
    font-size: 14px;
}